#gestionplanning{
    -fx-background-image: url("../imgs/Workout-Wallpaper-01-1600-x-843.jpg");

}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}